.depo_body {
    padding: 40px 20%;
    font-size: 14px;

    > div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;

        > p {
            width: 100px;
            margin-right: 8%;
        }

        .coin_box {
            display: flex;
            flex-direction: column;

            > div {
                margin-top: 10px;
                > div {
                    label {
                        display: none;
                    }
                    > div {
                        > div {
                            padding: 10px 32px 10px 14px;
                        }
                    }
                }
            }
        }
    }
}
