.mainContent {
    padding: 0 75px 0;

    .increase{
        color: #0ECB81;
    }

    .decrease{
        color: #D2304A;
    }

    h1 {
        margin-bottom: 30px;
    }

    .info_container {
        margin-top: 20px;
        margin-bottom: 70px;
        position: relative;
        padding-bottom: 20px;

        .header_list,
        .item {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            + .item {
                margin-top: 30px;
            }

            > img {
                height: 30px;
            }

            .item_name {
                display: flex;
                align-items: center;

                .name {
                    margin-left: 10px;

                    span + span {
                        margin-left: 10px;
                        opacity: 0.6;
                    }
                }
            }

            .header_list {
                opacity: 0.8;
            }

            .lprice {
                position: absolute;
                left: 44%;
                transform: translateX(-100%);
            }

            .change24h {
                position: absolute;
                left: 60%;
                transform: translateX(-100%);
            }
        }
        .view {
            position: absolute;
            left: 50%;
            bottom: -26px;
            transform: translateX(-50%);
            cursor: pointer;
        }
    }
}